<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbtcsrzzx.ssm.dao.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.hbtcsrzzx.ssm.po.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="birthplace" property="birthplace" jdbcType="VARCHAR" />
    <result column="addr" property="addr" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="center" property="center" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="psw" property="psw" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="isonline" property="isonline" jdbcType="INTEGER" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="regtime" property="regtime" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hbtcsrzzx.ssm.po.UserWithBLOBs" extends="BaseResultMap" >
    <result column="introduction" property="introduction" jdbcType="LONGVARCHAR" />
    <result column="context" property="context" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, phone, school, birthplace, addr, category, subject, center, level, email, 
    psw, state, isonline, image, regtime
  </sql>
  <sql id="Blob_Column_List" >
    introduction, context
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.hbtcsrzzx.ssm.po.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null and pageSize != 0">
    	limit #{startRow},#{pageSize}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hbtcsrzzx.ssm.po.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
      <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null and pageSize != 0">
    	limit #{startRow},#{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
  <!-- 按照用户姓名拼音进行排序的方法 -->
  <!-- <select id="selectBySortName" resultMap="BaseResultMap" parameterType="com.hbtcsrzzx.ssm.po.UserExample">
	   select
	    <if test="distinct" >
	      distinct
	    </if>
	    <include refid="Base_Column_List" />
	    from user
	    <if test="_parameter != null" >
	      <include refid="Example_Where_Clause" />
	    </if>
	    <if test="startRow != null and pageSize != 0">
	    	limit #{startRow},#{pageSize}
	    </if>
	    <if test="orderByClause != null" >
	      order by ${orderByClause}
	    </if>
  </select> -->
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hbtcsrzzx.ssm.po.UserExample" >
    delete from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hbtcsrzzx.ssm.po.UserWithBLOBs" >
    insert into user (id, name, phone, 
      school, birthplace, addr, 
      category, subject, center, 
      level, email, psw, 
      state, isonline, image, 
      regtime, introduction, context
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{school,jdbcType=VARCHAR}, #{birthplace,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, 
      #{category,jdbcType=VARCHAR}, #{subject,jdbcType=VARCHAR}, #{center,jdbcType=VARCHAR}, 
      #{level,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{psw,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{isonline,jdbcType=INTEGER}, #{image,jdbcType=VARCHAR}, 
      #{regtime,jdbcType=VARCHAR}, #{introduction,jdbcType=LONGVARCHAR}, #{context,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hbtcsrzzx.ssm.po.UserWithBLOBs" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="school != null" >
        school,
      </if>
      <if test="birthplace != null" >
        birthplace,
      </if>
      <if test="addr != null" >
        addr,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="subject != null" >
        subject,
      </if>
      <if test="center != null" >
        center,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="psw != null" >
        psw,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="isonline != null" >
        isonline,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="regtime != null" >
        regtime,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="context != null" >
        context,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="birthplace != null" >
        #{birthplace,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="center != null" >
        #{center,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="psw != null" >
        #{psw,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="isonline != null" >
        #{isonline,jdbcType=INTEGER},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="regtime != null" >
        #{regtime,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=LONGVARCHAR},
      </if>
      <if test="context != null" >
        #{context,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hbtcsrzzx.ssm.po.UserExample" resultType="java.lang.Integer" >
    select count(*) from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.school != null" >
        school = #{record.school,jdbcType=VARCHAR},
      </if>
      <if test="record.birthplace != null" >
        birthplace = #{record.birthplace,jdbcType=VARCHAR},
      </if>
      <if test="record.addr != null" >
        addr = #{record.addr,jdbcType=VARCHAR},
      </if>
      <if test="record.category != null" >
        category = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.subject != null" >
        subject = #{record.subject,jdbcType=VARCHAR},
      </if>
      <if test="record.center != null" >
        center = #{record.center,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null" >
        level = #{record.level,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.psw != null" >
        psw = #{record.psw,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.isonline != null" >
        isonline = #{record.isonline,jdbcType=INTEGER},
      </if>
      <if test="record.image != null" >
        image = #{record.image,jdbcType=VARCHAR},
      </if>
      <if test="record.regtime != null" >
        regtime = #{record.regtime,jdbcType=VARCHAR},
      </if>
      <if test="record.introduction != null" >
        introduction = #{record.introduction,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.context != null" >
        context = #{record.context,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update user
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      school = #{record.school,jdbcType=VARCHAR},
      birthplace = #{record.birthplace,jdbcType=VARCHAR},
      addr = #{record.addr,jdbcType=VARCHAR},
      category = #{record.category,jdbcType=VARCHAR},
      subject = #{record.subject,jdbcType=VARCHAR},
      center = #{record.center,jdbcType=VARCHAR},
      level = #{record.level,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      psw = #{record.psw,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=INTEGER},
      isonline = #{record.isonline,jdbcType=INTEGER},
      image = #{record.image,jdbcType=VARCHAR},
      regtime = #{record.regtime,jdbcType=VARCHAR},
      introduction = #{record.introduction,jdbcType=LONGVARCHAR},
      context = #{record.context,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      school = #{record.school,jdbcType=VARCHAR},
      birthplace = #{record.birthplace,jdbcType=VARCHAR},
      addr = #{record.addr,jdbcType=VARCHAR},
      category = #{record.category,jdbcType=VARCHAR},
      subject = #{record.subject,jdbcType=VARCHAR},
      center = #{record.center,jdbcType=VARCHAR},
      level = #{record.level,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      psw = #{record.psw,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=INTEGER},
      isonline = #{record.isonline,jdbcType=INTEGER},
      image = #{record.image,jdbcType=VARCHAR},
      regtime = #{record.regtime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hbtcsrzzx.ssm.po.UserWithBLOBs" >
    update user
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="birthplace != null" >
        birthplace = #{birthplace,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="subject != null" >
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="center != null" >
        center = #{center,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="psw != null" >
        psw = #{psw,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="isonline != null" >
        isonline = #{isonline,jdbcType=INTEGER},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="regtime != null" >
        regtime = #{regtime,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=LONGVARCHAR},
      </if>
      <if test="context != null" >
        context = #{context,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hbtcsrzzx.ssm.po.UserWithBLOBs" >
    update user
    set name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      birthplace = #{birthplace,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      subject = #{subject,jdbcType=VARCHAR},
      center = #{center,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      psw = #{psw,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      isonline = #{isonline,jdbcType=INTEGER},
      image = #{image,jdbcType=VARCHAR},
      regtime = #{regtime,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=LONGVARCHAR},
      context = #{context,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hbtcsrzzx.ssm.po.User" >
    update user
    set name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      birthplace = #{birthplace,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      subject = #{subject,jdbcType=VARCHAR},
      center = #{center,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      psw = #{psw,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      isonline = #{isonline,jdbcType=INTEGER},
      image = #{image,jdbcType=VARCHAR},
      regtime = #{regtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>