.photo i {
	width: 80%;
	height: 20px;
	font-size: 13px;
}
#institution-context{
	padding: 0 5%;
}
#institution-context img{
	width:100% !important;
	max-width: 500px;
	height: auto;
}
.tabulation {
	width:97%;
	height: auto;
	margin: 10px auto;
	overflow: hidden;
	display: block
}
.carousel-inner .active {
	margin-top:100px;
}
.tabulation1 {
	width:25%;
	display:inline-block;
}

.tabulation2 {
	background: #c51615;
	padding:10% 0 0 10%;
	padding-bottom: 4%;
	color: #FFF
}

.tabulation3 {
	color: #FFF;
	background-color: #f5f5f5;
}

.tabulation3 a {
	background: #f5f5f5;
	padding-left: 10%;
	height: 40px;
	display: block;
	color: #333;
	line-height: 40px;
	margin: 1px 0
}

.tabulation3 a:hover {
	background: url(../img/abulation_04.jpg) #ededed right center no-repeat;
	color: #c51615
}

.tabulation3 a:home {
	background: url(../img/abulation_04.jpg) #ededed right center no-repeat;
	color: #c51615
}

.tabulation01 {
	float: right;
	width:72%;
	height: auto;
	margin: 0px auto;
}

.tabulation02 {
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #D9D9D9;
	font-size: 15px;
}

.tabulation02 i {
	width: 60px;
	height: 30px;
	border-bottom: 2px solid #c51615;
	display: block
}

.tabulation03 {
	width: 100%;
	height: auto;
	overflow: hidden;
	display: block;
	margin-top: 20px;
	line-height: 28px;
	font-size: 14px;
}

.tabulation04 {
	margin-bottom: 20px
}

.tabulation04 p {
	font-size: 22px;
	font-weight: 800;
	text-align: center
}
.art1, .art3, .art03, .art4 {
	width: 70%;
	margin: 0 auto;
	margin-top: 10px;
	font-size: 18px;
	display: block;
	overflow: hidden
}

.art03 {
	text-align: center;
	font-weight: 700;
	padding: 0
}

.art4 {
	display: block;
	background: url(../img/art_04.png) left center no-repeat;
	padding-left: 30px;
	margin-bottom: 30px
}

.art3 a {
	color: #c51615
}

.art3 {
	font-size: 13px;
	margin-top: 20px;
	border-bottom: 1px solid #d8d8d8;
	line-height: 30px
}

.art3 p {
	font-size: 16px;
	text-align: center;
	font-weight: 600
}

.art1 span {
	width: 80%;
	float: left;
	display: block;
}

.art1 .art2 {
	width: 15%;
	padding-left: 30px;
	margin-top: 0.8%;
	line-height: 35px;
	float: right;
	color: #0b50ad;
	display: block;
	background: url(../img/art_04.png) left center no-repeat
}

.art1 a {
	color: #333;
	margin: 0px auto;
	margin-top: 10px
}

.art1 p, .news2 p {
	color: #999;
	font-size: 14px
}

.art {
	width: 100%;
	padding: 1%;
	height: 74px;
	display: block;
	background: #f5f5f5;
}

.art_1 {
	width: 100%;
	padding: 1%;
	height: auto;
	display: block;
	background: #f5f5f5;
	overflow: hidden
}

.art_1 img {
	margin-right: 8px;
}

.art1 a:hover {
	background: #f1f1f1;
	color: #c51615
}
.hovertreeaction {
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.hovertreeaction ul {
	width: 100%;
	margin: 0;
	padding: 0
}

.hovertreeaction ul li {
	float: left;
	display: inline;
	height: auto;
	overflow: hidden;
	position: relative;
}

.hovertreeaction ul li .photo {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0;
	padding: 0
}
.photo>img{
	width: 100%;
	height:auto;
}
.hovertreeaction .rsp {
	width: 100%;
	/* height: 100%; */
	overflow: hidden;
	position: absolute;
	background: #000;
	top: 0px;
	left: 0px;
	margin-left: auto; 
    margin-right: auto;
}

.hovertreeaction .text {
	position: absolute;
	width: 100%;
	height: auto;
	left: -100%;
	top: 0px;
	overflow: hidden;
}

.hovertreeaction .text h3 {
	width: 100%;
	margin-top: 25%;
	height: 55px;
	line-height: 55px;
	text-align: center;
	color: #FFFFFF;
	background: #000000;
	font-family: "microsoft yahei";
	font-size: 26px;
}
.contact {
	margin-top: 30%;
	color: #fff
}

.contact p {
	padding: 0;
	margin: 0;
}

.contact h4 {
	font-size: 18px;
	line-height: 18px;
	font-weight: 400
}
.telephone {
	height: auto;
	overflow: hidden;
	width: 27%;
	display: block;
	line-height: 26px;
	background: url(../img/phone.png) left center no-repeat;
}

.address {
	height: auto;
	overflow: hidden;
	width: 38%;
	line-height: 28px;
	background: url(../img/location.png) left center no-repeat;
}
.photo i {
	background: none
}

.telephone {
	height: 26px;
	width: 50%;
	display: block;
	line-height: 26px;
	padding-left:10px;
	background: url(img/phone.png) left center no-repeat;
}

.address {
	height: 26px;
	width: 80%;
	line-height: 28px;
	background: url(img/location.png) left center no-repeat;
}
/* 
.rsp {
	height: 253px
} */