.news {
	width: 70%;
	height: auto;
	display: block;
	overflow: hidden;
	margin: 10px auto;
	padding: 10px;
	background: #f5f5f5;
}

.news1 {
	width: 19%;
	height: auto;
	display: block;
	overflow: hidden;
	margin-right: 2%;
	float: left
}

.news2 a:hover {
	color: #c51615
}

.news2 a {
	color: #000;
	font-size: 16px
}

.news2 {
	width: 78%;
	float: right
}

.news2 span {
	text-align: right;
	background: url(../img/notice.png) no-repeat bottom right;
	font-size: 14px;
	display: block;
	padding-right: 20px;
	color: #003e96
}

.news_01 {
	width: 80%;
	height: auto;
	display: block;
	overflow: hidden;
	margin-top: 20px; margin-left : 10%;
	font-size: 13px;
	line-height: 25px;
	margin-left: 10%
}
.art1, .art3, .art03, .art4 {
	width: 70%;
	margin: 0 auto;
	margin-top: 10px;
	font-size: 18px;
	display: block;
	overflow: hidden
}

.art03 {
	text-align: center;
	font-weight: 700;
	padding: 0
}

.art4 {
	display: block;
	background: url(../img/art_04.png) left center no-repeat;
	padding-left: 30px;
	margin-bottom: 30px
}

.art3 a {
	color: #c51615
}

.art3 {
	font-size: 13px;
	margin-top: 20px;
	border-bottom: 1px solid #d8d8d8;
	line-height: 30px
}

.art3 p {
	font-size: 16px;
	text-align: center;
	font-weight: 600
}

.art1 span {
	width: 80%;
	float: left;
	display: block;
}

.art1 .art2 {
	width: 15%;
	padding-left: 30px;
	margin-top: 0.8%;
	line-height: 35px;
	float: right;
	color: #0b50ad;
	display: block;
	background: url(../img/art_04.png) left center no-repeat
}

.art1 a {
	color: #333;
	margin: 0px auto;
	margin-top: 10px
}

.art1 p, .news2 p {
	color: #999;
	font-size: 14px
}

.art {
	width: 100%;
	padding: 1%;
	height: 74px;
	display: block;
	background: #f5f5f5;
}

.art_1 {
	width: 100%;
	padding: 1%;
	height: auto;
	display: block;
	background: #f5f5f5;
	overflow: hidden
}

.art_1 img {
	margin-right: 8px;
}

.art1 a:hover {
	background: #f1f1f1;
	color: #c51615
}
#news-context img{
	width:90%;
	height: auto;
}
#news-context table{
	width:95%
}
#news-context span{
	font-size: 16px !important;
}